name: DataDash QA

on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install playwright
          python -m playwright install chromium --with-deps

      - name: Run Playwright scraper 22f3000579@ds.study.iitm.ac.in
        run: python sum_tables.py
